@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: rgb(250 204 21);
}

.imagenClass {
  width: 75%;
  max-width: 400px;
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  
  .-rotate-y-12 {
    transform: rotateY(-12deg);
  }
}

.maps{
  width: 95%;
  margin: auto;
}

.wave-divider {
  position: relative;
  background: white;
  margin-top: -1px;
}

.wave-divider svg {
  display: block;
}